
name: Create matrix.json from yamls

on:
  push:
    branches: [ "main" ]
    paths:
      - content/**

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  create-matrix-json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate json file and upload artifact
        run: python ./helpers/tech_to_json.py content/oscar/techniques
        
      - uses: actions/upload-artifact@v3
        with:
          name: matrix
          path: matrix.json
